
    
    ion-title {
      font-size: 24px;
      font-weight: bold;
    }

    
    .hero-section {
      text-align: center;
      margin-bottom: 20px;
    }

    .hero-image {
      width: 150px;
      height: auto;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid #ffcc00;
      padding: 10px;
    }

    .hero-title {
      font-size: 20px;
      color: #ff9900;
      font-weight: bold;
      margin-top: 10px;
    }

   
    .form-card {
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .custom-item {
      --background: #fffbea;
      --color: #000;
      --border-radius: 5px;
    }

    .custom-button {
      margin-top: 10px;
      --border-radius: 20px;
      font-weight: bold;
    }

    .clear-button {
      font-size: 14px;
      margin-top: 10px;
    }
  