<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" icon-only="true"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding center-content">
    <!-- Sección de Encabezado con Imagen -->
    <div class="hero-section">
      <img
        src="https://i.pinimg.com/originals/e5/6b/84/e56b841924ac729935e858cb59535fb7.png"
        alt="Inicio de Sesión"
        class="hero-image"
      />
      <h1 class="hero-title">Bienvenido a Compra y Ahorra</h1>
    </div>

    <!-- Formulario de Login -->
    <ion-card class="form-card">
      <ion-card-content>
        <ion-item class="custom-item">
          <ion-label position="floating" color="warning">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-label position="floating" color="warning">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button
          fill="outline"
          (click)="validadInnicio()"
          color="warning"
          expand="block"
          class="custom-button"
        >
          Iniciar Sesión
        </ion-button>
        <ion-button
          color="warning"
          (click)="vistaPass()"
          fill="clear"
          expand="block"
          class="clear-button"
        >
          ¿Olvidaste tu contraseña?
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <style>
    /* Estilo del encabezado */
    ion-title {
      font-size: 24px;
      font-weight: bold;
    }

    /* Estilo de la imagen principal */
    .hero-section {
      text-align: center;
      margin-bottom: 20px;
    }

    .hero-image {
      width: 150px;
      height: auto;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid #ffcc00;
      padding: 10px;
    }

    .hero-title {
      font-size: 20px;
      color: #ff9900;
      font-weight: bold;
      margin-top: 10px;
    }

    /* Estilo de la tarjeta de formulario */
    .form-card {
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .custom-item {
      --background: #fffbea;
      --color: #000;
      --border-radius: 5px;
    }

    .custom-button {
      margin-top: 10px;
      --border-radius: 20px;
      font-weight: bold;
    }

    .clear-button {
      font-size: 14px;
      margin-top: 10px;
    }
  </style>
</div>
