<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Compra y Ahorra</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="navigateToLogin()">Login</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding center-content">
   
    <div class="hero-section">
      <img
        src="https://http2.mlstatic.com/storage/mshops-appearance-api/images/91/1137698291/logo-2022080320090899700.png"
        alt="Compra y Ahorra Logo"
        class="hero-image"
      />
      <h1 class="hero-title">¡Bienvenido a Compra y Ahorra!</h1>
    </div>

    
    <ion-card class="intro-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Tu solución inteligente para ahorrar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-text-center">
          <strong>Compra y Ahorra</strong> es tu aplicación ideal para gestionar inventarios, realizar compras en línea y optimizar tus gastos. Descubre cómo simplificar tus procesos de compra y administración, todo en un solo lugar.
        </p>
        <h3 class="ion-text-center">¿Aún no tienes cuenta?</h3>
      </ion-card-content>
    </ion-card>

  
    <div class="button-container">
      <ion-button
        (click)="navegarRegistro()"
        fill="outline"
        color="warning"
        expand="block"
        class="custom-button"
      >
        Regístrate aquí
      </ion-button>
      <ion-button
        (click)="navigateperfil()"
        fill="outline"
        color="warning"
        expand="block"
        class="custom-button"
      >
        Mi perfil
      </ion-button>
    </div>
  </ion-content>

  
</div>
